/* Estilos para el banner */
.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    background-color: black;
}

/* Estilos para la contenedor de la imagen de fondo */
.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para la imagen de fondo */
.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0; /* Coloca la imagen detrás del contenido */
}

/* Estilos para el contenedor del logo */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; /* Ajusta el ancho máximo del contenedor del logo */
    max-height: 90%; /* Ajusta la altura máxima del contenedor del logo */
    text-align: center; /* Alinea el contenido del contenedor del logo al centro */
    z-index: 1; /* Coloca el logo delante del contenido */
}

/* Estilos para el logo */
.logo {
    width: 50%; /* Ajusta el ancho de forma automática */
    height: auto; /* Ajusta la altura de forma automática */
}

/* Estilos para el logo en dispositivos móviles */
@media (max-width: 767px) {
    .logo-container {
        top: 50%; /* Ajusta la posición vertical del contenedor del logo en dispositivos móviles */
    }
    .logo {
        width: 100%; /* Ajusta el tamaño del logo para dispositivos móviles */
        max-height: fit-content; /* Ajusta la altura máxima del logo */
    }
}
/* Estilos para la barra de navegación */
.navbar {
    background-color: black !important;
}

/* Estilos para los elementos de navegación */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: gray; /* Cambia el color al pasar el mouse si deseas */
}

/* Estilos para la imagen de fondo de la página */
.contenedorFondoPagina {
    height: 100vh; /* Ajusta la altura del contenedor para ocupar toda la ventana */
    background-image: url('img_stb/Dark-Frame-PNG-File.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    z-index: 0;
}

